spring:
  application:
    name: auth-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/authdb}
    username: ${SPRING_DATASOURCE_USERNAME:authuser}
    password: ${SPRING_DATASOURCE_PASSWORD:authpass}
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET:mySecretKeyForJWTTokenGenerationThatShouldBeAtLeast256BitsLong}
  expiration: ${JWT_EXPIRATION:86400000}

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}
  instance:
    prefer-ip-address: true

