services:
  eureka-server:
    build:
      context: .
      dockerfile: eureka-server/Dockerfile
    ports: ["8761:8761"]
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8761/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  activemq:
    image: apache/activemq-classic:6.1.7
    ports:
      - "61616:61616" # JMS port
      - "8161:8161" # interface

  postgres-event:
    image: postgres:17
    environment:
      POSTGRES_DB: eventdb
      POSTGRES_USER: eventuser
      POSTGRES_PASSWORD: eventpass
    ports: ["5432:5432"]
    volumes: ["pg_event:/var/lib/postgresql/data"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U eventuser -d eventdb"]
      interval: 5s
      timeout: 3s
      retries: 20

  event-management:
    build:
      context: .
      dockerfile: event-management-service/Dockerfile
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-event:5432/eventdb
      SPRING_DATASOURCE_USERNAME: eventuser
      SPRING_DATASOURCE_PASSWORD: eventpass
      SPRING_PROFILES_ACTIVE: docker
      EUREKA_URL: http://eureka-server:8761/eureka/
      SPRING_ACTIVEMQ_BROKER_URL: tcp://activemq:61616
      MANAGEMENT_OTLP_TRACING_ENDPOINT: http://otel-lgtm:4318/v1/traces
      MANAGEMENT_OTLP_LOGGING_ENDPOINT: http://otel-lgtm:4318/v1/logs
      MANAGEMENT_METRICS_EXPORT_PROMETHEUS_ENABLED: "true"

    ports: ["8082:8080"]
    env_file:
      - .env
    depends_on:
      postgres-event:
        condition: service_healthy
      eureka-server:
        condition: service_healthy
      activemq:
        condition: service_started
    volumes:
      - ./logs/event:/app/logs

  postgres-user:
    image: postgres:17
    environment:
      POSTGRES_DB: eventdb-user
      POSTGRES_USER: useruser
      POSTGRES_PASSWORD: userpass
    ports: ["5433:5432"]
    volumes: ["pg_user:/var/lib/postgresql/data"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U useruser -d eventdb-user"]
      interval: 5s
      timeout: 3s
      retries: 20

  user-service:
    build:
      context: .
      dockerfile: user-service/Dockerfile
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-user:5432/eventdb-user
      SPRING_DATASOURCE_USERNAME: useruser
      SPRING_DATASOURCE_PASSWORD: userpass
      SPRING_PROFILES_ACTIVE: docker
      EUREKA_URL: http://eureka-server:8761/eureka/
      SPRING_ACTIVEMQ_BROKER_URL: tcp://activemq:61616
      MANAGEMENT_OTLP_TRACING_ENDPOINT: http://otel-lgtm:4318/v1/traces
      MANAGEMENT_OTLP_LOGGING_ENDPOINT: http://otel-lgtm:4318/v1/logs
      MANAGEMENT_METRICS_EXPORT_PROMETHEUS_ENABLED: "true"
    ports: ["8081:8080"]
    env_file:
      - .env
    depends_on:
      postgres-user:
        condition: service_healthy
      eureka-server:
        condition: service_healthy

  gateway-service:
    build:
      context: .
      dockerfile: gateway-service/Dockerfile
    ports:
      - "8080:8080"
    environment:
      EUREKA_URL: http://eureka-server:8761/eureka/
      SPRING_PROFILES_ACTIVE: docker
    env_file:
      - .env
    depends_on:
      eureka-server:
        condition: service_healthy
      event-management:
        condition: service_started
      user-service:
        condition: service_started
      activemq:
        condition: service_started
    volumes:
      - ./logs/user:/app/logs

  admin-telemetry-service:
    build:
      context: .
      dockerfile: admin-telemetry-service/Dockerfile
    env_file:
      - .env
    ports: ["9090:9090"]
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9090/actuator/health || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 30

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9095:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - event-management
      - user-service

  otel-lgtm:
    image: grafana/otel-lgtm:latest
    ports:
      - "3000:3000"
      - "4317:4317"
      - "4318:4318"
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:3000/api/health || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 30

volumes:
  pg_event:
  pg_user:
  activemq_data:
