server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: auth-service-route
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/api/auth/**
        - id: user-service-route
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/users/**
        - id: event-management-route
          uri: lb://EVENT-MANAGEMENT-SERVICE
          predicates:
            - Path=/api/events/**, /api/buildings/**, /api/tickets/**

internal:
  api:
    key: ${INTERNAL_API_KEY}

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}