apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-telemetry
spec:
  replicas: 1
  selector:
    matchLabels:
      app: admin-telemetry
  template:
    metadata:
      labels:
        app: admin-telemetry
    spec:
      automountServiceAccountToken: false
      containers:
        - name: admin-telemetry
          image: foxxxxx333/admin-telemetry-service:1.0.0
          imagePullPolicy: IfNotPresent

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

          ports:
            - containerPort: 9090
          env:
            - name: ACTUATOR_USER
              value: admin
            - name: ACTUATOR_PASSWORD
              value: admin

          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 9090
            initialDelaySeconds: 10
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: admin-telemetry-service
spec:
  type: NodePort
  ports:
    - port: 9090
      targetPort: 9090
      nodePort: 30090
  selector:
    app: admin-telemetry
