spring:
  application:
    name: user-service
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
server:
  port: 8080

management:
  endpoints:
    web.exposure.include: "health,info,metrics"
  endpoint:
    health.probes.enabled: true

internal:
  api:
    key: ${INTERNAL_API_KEY}

grpc:
  server:
    port: 9090
    security:
      enabled: true
      certificateChain: classpath:certs/server.crt
      privateKey: classpath:certs/server.key
