<configuration>
    <import class="ch.qos.logback.classic.boolex.OnMarkerEvaluator"/>

    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CustomAppender" class="ua.edu.ukma.event_management_system.logger.CustomAppender">
        <layout class="ua.edu.ukma.event_management_system.logger.CustomLayout" />
    </appender>

    <appender name="FileAppender" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Marker>USER_ACTION</Marker>
        <onMatch>ACCEPT</onMatch>
    </turboFilter>

    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Marker>VALIDATION</Marker>
        <onMatch>DENY</onMatch>
    </turboFilter>

    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Marker>USER_ERROR</Marker>
        <OnMatch>DENY</OnMatch>
    </turboFilter>

    <appender name="UserActionFileAppender" class="ch.qos.logback.core.FileAppender">
        <file>logs/user-actions.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - Action performed on user with ID: %X{userId} -> %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ua.edu.ukma.event_management_system.controller.UserControllerApi" level="info" additivity="false">
        <appender-ref ref="UserActionFileAppender" />
    </logger>

    <logger name="ua.edu.ukma.event_management_system.aop.ExceptionAspect" level="error" additivity="false">
        <appender-ref ref="FileAppender" />
    </logger>

    <logger name="ua.edu.ukma.event_management_system.aop.GETLoggerAspect" level="info" additivity="false">
        <appender-ref ref="FileAppender" />
    </logger>

    <logger name="ua.edu.ukma.event_management_system.logger.ScheduledLogger" level="info" additivity="false">
        <appender-ref ref="FileAppender" />
    </logger>


    <logger name="ua.edu.ukma.event_management_system.EventManagementSystemApplication" level="info" additivity="false">
        <appender-ref ref="ConsoleAppender" />
    </logger>

    <appender name="ScheduledEventFileAppender" class="ch.qos.logback.core.FileAppender">
        <file>logs/scheduled_event_logger.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ua.edu.ukma.event_management_system.logger.SheduledEventLogger" level="info" additivity="false">
        <appender-ref ref="ScheduledEventFileAppender" />
    </logger>

<!--    <root level="info">-->
<!--&lt;!&ndash;        <appender-ref ref="CustomAppender" />&ndash;&gt;-->
<!--&lt;!&ndash;        <appender-ref ref="FileAppender" />&ndash;&gt;-->
<!--    </root>-->
    <root level="info">
        <appender-ref ref="ConsoleAppender" />
    </root>


</configuration>