apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-user
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-user
  template:
    metadata:
      labels:
        app: postgres-user
    spec:
      automountServiceAccountToken: false
      containers:
        - name: postgres
          image: postgres:17

          resources:
            requests:
              cpu: "200m"
              memory: "512Mi"
            limits:
              cpu: "1"
              memory: "1Gi"

          ports:
            - containerPort: 5432

          env:
            - name: POSTGRES_USER
              value: "useruser"
            - name: POSTGRES_PASSWORD
              value: "userpass"
            - name: POSTGRES_DB
              value: "eventdb-user"
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-user
spec:
  ports:
    - port: 5432
  selector:
    app: postgres-user
